#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4952c9;
  color: white;

}

thead>tr>th {
  cursor: pointer;
}
#searchbr
{

min-width:22%;
height : 30px;
top:0%;
right:0%;
z-index:10;
background-color:rgb(255, 255, 255);
border: 1px solid rgb(51, 37, 170);

}

